{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    登录
{% endblock title %}
{% block content %}
<div>
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-4">
                <p>Hi, <b>{{ user.username }}</b>, welcome</p>
            </div>
            <div>
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" style="max-width: 20%; border-radius: 15%;" class="col-md-4">
                {% endif %}
            </div>

            <form method="post"  action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-4">Contact number:</div>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">
                </div>
                <div class="form-group">
                    <label for="bio">Profile</label>
                    <textarea class="form-control" id="bio" name="bio" rows="12">{{ profile.bio }}</textarea>
                </div>
                <div class="form-group">
                    <label for="avatar">upload your avatar...</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <button type="submit" class="btn btn-primary">confirm</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}