{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    登录
{% endblock title %}
{% block content %}
<div class="">
    <div class="jumbotron">
        <div class="container">
            <div>
                <p>New User?/<a href="{% url 'user:register' %}">Register</a></p>
            </div>

            <form method="post" action=".">
                {% csrf_token  %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>


                <button type="submit" class="btn btn-primary">Login In</button>
            </form>
                <br/>
            <p>Forget password ? </p>
            <p>Click<a href='{% url "password_reset_recover" %}'><b> here </b></a>to reset password</p>
        </div>
    </div>
</div>
{% endblock content %}