{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    通知
{% endblock title %}

{% block content %}
<div class="">
    <div class="container">
        <ul class="list-group">
                <li class="list-group-item active" ><a href="{% url 'notice:update' %}" class="btn btn-warning" role="button">清空所有通知</a></li>
                {% for notice in notices %}
                    <li class="list-group-item list-group-item-action" id="notice_link">
                        <b style="color:blue">{{ notice.actor }}</b> {{ notice.verb }} you in
                        <a href="{% url 'notice:update' %}?blog_id={{ notice.target.id }}&notice_id={{ notice.id }}"
                           style="color:green" target="_blank">{{ notice.target.title }}
                        </a>
                        on <i style="color:light-dark">{{ notice.timestamp|date:"Y/m/d H:i" }}</i>
                    </li>
                {% endfor %}
            </ul>
    </div>

</div>

<style>
    #notice_link a:link {
        color: black;
    }

    #notice_link a:visited {
        color: lightgrey;
    }
</style>
{% endblock content %}