{% extends "base.html" %}
{% load staticfiles %}
{% block css %}

{% endblock css %}
{% block title %}
    Todolist
{% endblock title %}

{% block content %}
<div class="container">

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="breadcrumb-item">
                    <a href="{% url 'record:todolist_list' %}?order=finished">
                        finished
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'record:todolist_list' %}?order=todolist">
                    todolist
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'record:todolist_list' %}?order=all">
                    all
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <h3><a href="{% url 'record:todolist_add' %}">New</a></h3>
            </form>
          </div>
        </nav>
    </div>



    {% for todolist in todolists %}
    <div class="container">
            <div class="card border-secondary  mb-3" style="">
              {% if todolist.is_done %}
                <h4 class="card-header  border-success">finished</h4>
              {% else %}
                <h4 class="card-header  border-success" style="color:red">unfinished</h4>
              {% endif %}
                <div class="card-body border-secondary  mb-3">
                  <p class="card-text">{{ todolist.body }}</p>
              </div>
                <div class="card-body border-secondary  mb-3">
                  <p class="card-text">{{ todolist.feed_back }}</p>
              </div>
                <div class="card-footer bg-transparent mb-2 text-muted">
                  Published:{{ todolist.created_time|date:'Y-m-d' }}
                  Updated:{{ todolist.updated_time|date:'Y-m-d' }}
                  <a href="{% url 'record:todolist_edit' todolist.id %}" >Edit</a>
                    {% if cur_user %}
                      <a href="{% url 'record:todolist_delete' todolist.id %}" >Delete</a>
                    {% else %}
                      <a class="disabled" ref="{% url 'record:todolist_delete' todolist.id %}" >Delete</a>
                    {% endif %}
                </div>
            </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}