{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock title %}
{% block content %}
<div class="container">
    <div>
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <label for="title">Title <a href="{% url 'blog:blog_create_leetcode' %}">New for Leetcode</a></label>
                <input type="text" class="form-control" id="title" name="title" size="80">
            </div>
            <div class="form-group">
                <label for="classify">Classify(<a href="{% url 'blog:classify_add' %}">New</a>)</label>
                <select class="form-control" id="classify" name="classify">
                    <option value="none">Please choose classify..</option>
                    {% for classify in classifies %}
                        <option value="{{ classify.id }}">{{ classify }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input type="file" class="form-control-file" name="avatar" id="avatar">
            </div>
            <div class="form-group">
                <textarea id="body" class="form-control" name="body" rows=20 cols="120" placeholder="please use markdown language"></textarea>
            </div>


            <div class="form-group">
                <label for="tag">Tags</label>
                    <input class="form-control" type="text" id="tag" name="tag" placeholder="please use ',' to seperate">
            </div>
            <button type="submit">Publish</button>
    </form>
    </div>
</div>

{% endblock content %}