{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock title %}
{% block content %}
<div class="container">
    <div id="stat_chart"></div>
    <h3>Total Viewers: {{total_views.views}}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">IP</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
        {% for user_ip in user_ips%}
          <tbody>
            <tr>
              <th scope="row">{{user_ip.nid}}</th>
              <td>{{user_ip.user_ip}}</td>
              <td>{{user_ip.create_time}}</td>
            </tr>
          {% endfor %}
      </tbody>

</table>
    <h3>Total Viewers History:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">IP</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
        {% for view_ip_history in view_ip_historys%}
          <tbody>
            <tr>
              <th scope="row">{{view_ip_history.nid}}</th>
              <td>{{view_ip_history.user_ip}}</td>
              <td>{{view_ip_history.create_time}}</td>
            </tr>
          {% endfor %}
      </tbody>
</table>
</div>


{% endblock content %}

{% block script %}
<script>



var options={
    chart:{
        type:"column"
    },
     title: { text: 'Searching Stat.' },
     xAxis: {
            categories: [
             {%for x in listx%}
              "{{x}}",
              {%endfor%}
            ]

            },
            yAxis: {
                title: {
                    text: 'Number'                // y 轴标题
                }
            },
            series: [{                              // 数据列
                name: 'daily seach stat.',                        // 数据列名
                data: {{listy}}                    // 数据
            }]
};
var chart=Highcharts.chart("stat_chart",options);
</script>

{% endblock script %}